.App {
  text-align: center;
}

.meme{
  position: relative;
  color: white;

}

img {
  height: 500px;
  width: 700px;
  object-fit: cover;
}

.top{
  font-size: 40px;
  position:absolute;
  top: 2px;
  left: 30px;
  width: 650px;

  object-fit: cover;


}

.bottom{
  position:absolute;
  font-size: 40px;
  bottom: 100px;
  left: 30px;
  width: 650px;


}
